.header {
  text-align: center;
}

.chat-box {
  height: 70vh;
  overflow-y: scroll;
  padding: 10px;
}

.message {
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 14px;
  max-width: 80%;
}

.received {
  background-color: #e5e5ea;
  float: left;
}

.sent {
  background-color: #007bff;
  color: #fff;
  float: right;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-container input[type="text"] {
  flex: 1;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.input-container button[type="submit"] {
  height: 40px;
  padding: 0 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  cursor: pointer;
}


body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}


.navbar .nav-text {
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 2px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55); 
}

.navbar .nav-text:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75); 
}

#home-section {
  background: url(../public/site_images/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 50em;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60em;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.7;
}

#home-section .fas,
#create-section .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}